<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MD5 Generator</title>
    <script src="assets/js/md5.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href=".">
           MD5 Generator
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Documentation
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item is-selected">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <br>
      <div class="notification is-primary">
        <button class="delete"></button>
        Free MD5 Generator | Made with Love by Lamhot Simamora, 
        <a href="https://github.com/lamhotsimamora">Github</a>
      </div>
      <br>
      <div id="app" class="container">
        <input
        class="input is-primary"
        type="text"
        placeholder="Text"
        v-model="text"
        ref = "text"
      /><br><br>
      <div class="buttons">
        <button @click="generate" class="button is-primary">Generate MD5</button>
      </div>
      </div>

      <hr>

      <div id="result" class="container">
        <textarea
        class="textarea is-primary"
        placeholder="Result MD5"
        v-model="result_md5"
        ></textarea>
      </div>

    <script>
        new Vue({
            el : "#app",
            data : {
                text : null
            },
            methods: {
                generate: function(){
                    if (this.text==='' || this.text==null){
                        this.$refs.text.focus()
                        return;
                    }

                    result.result_md5 = md5(this.text)
                    this.$refs.text.focus()
                }
            },
        });

        var result = new Vue({
            el : "#result",
            data : {
                result_md5 : null
            }
        })
    </script>
  </body>
</html>
